[submodule "ChemistryDeathRace-api"]
	path = ChemistryDeathRace-api
	url = https://github.com/tom-sartori/ChemistryDeathRace-api
[submodule "ChemistryDeathRace-auth"]
	path = ChemistryDeathRace-auth
	url = https://github.com/tom-sartori/ChemistryDeathRace-auth
[submodule "ChemistryDeathRace-adm"]
	path = ChemistryDeathRace-adm
	url = https://github.com/tom-sartori/ChemistryDeathRace-adm
[submodule "ChemistryDeathRace-ui"]
	path = ChemistryDeathRace-ui
	url = https://github.com/tom-sartori/ChemistryDeathRace-ui
